.navbar-toggler {
  position: fixed;
  left: 5px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 20px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

@media (max-width: 992px) {
  nav.navbar {
    position: absolute;
    top: 40px;
    left: 5px;
    background-color: #e9e8e6;
  }
}
